#header
  %h1 Peer Pressure Learning
  %hr
  %h3.alt Friends helping each other learn something new every day for 30 days
  %hr
.span-7.colborder
  %h6
    Journeying with friends
  %p
    You may desire growth and improvement, but they often fall just out of reach. With some friendly encouragement and perhaps a bit (or a lot) of goodnatured ribbing from your friends, you choose to make learning a priority. Saying that you don't have time is crap. You'll make time for the things in your life that really matter to you.
.span-8.colborder
  %h6
    Making learning a habit
  %p
    When you make learning a part of your daily routine, you'll find it becomes more natural. You'll also find yourself making the more mundane parts of your day into a teachable moment, asking what you might take away from the experience instead of blithely passing it by. By doing 7 days a week, you accelerate the establishment of a habit in your mind.
.span-7.last
  %h6
    Putting forth effort
  %p
    Becoming truly proficient, instead of a mere advanced beginner, will require something of you. Be bold enough to commit and then follow through with some sweat. By pushing yourself and testing your abilities, you'll find where your limits are and discover what fuels your passion.
%hr
%hr.space
.span-15.prepend-1.colborder
  
  / Put the RSS feed here from http://mileszs.com and http://timharvey.net
  - posts.each do |post|
    %h2
      %a{ :href => post.link }
        = post.title
    %h4.alt
      Posted on
      = post.posted_at.strftime("%b %d, %Y")
    %p
      = post.body.gsub " [...]", "..."
  %hr
.span-7.last
  %h3
    A
    %span.alt
      Craftsmanship
    exercise
  %p
    Software development, like many other professions, begs you to
    %a{ :href => "http://manifesto.softwarecraftsmanship.org/" }
      treat it as a craft
    and an art. It offers tremendous rewards to those who master the craft and the field changes so quickly that virtually limitless opportunities for growth and creativity exist. Developers have a rich chance to expand their knowledge and effectiveness.
  %p
    And yet so few do so. We hack on code, become 
    %a{ :href => "http://www.43folders.com/2009/10/22/who-you-are" }
      advanced beginners
    and eventually plateau. We become content with good enough.
  %p
    Don't be that guy (or gal). Choose to develop your craft today and commit to grow your skills intentionally every day
%hr
%h2.alt
  Peer Pressure Learning began as an experiment began between
  %a{ :href => "http://twitter.com/mileszs" }
    Miles Sterrett
  and 
  %a{ :href => "http://twitter.com/tihm" }
    Tim Harvey
%hr